@{
    //load file layout_trangtrong vao day
    Layout = "~/Views/Shared/LayoutTrangTrong.cshtml";
}
@using Add_TemplateAdmin.Models;
<div class="product-detail">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">Thanh toán giỏ hàng</div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



